@font-face {
    font-family: 'Oswald';
    src: local('Oswald Regular'), local('../fonts/Oswald-Regular'), url('../fonts/Oswaldregular.woff2') format('woff2'), url('../fonts/Oswaldregular.woff') format('woff'), url('../fonts/Oswaldregular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
