/*global variables*/

:root {
  --color-white: #F3E1B8;
  --color-gray: #345E5A;
  --color-blue: #152B54;
  --color-green: #6E9793;
  --color-light-blue: #1F6E8D;
  --color-barn: #DD430F;
  --color-poop: #3C817A;
  --header-footer-height: 60px;
  --container-padding: 60px;
  --main-max-width: 1600px;

  --medium-font-size: 18px;
  --max-medium-font-size: 24px;
  --large-font-size: 34px;
  --max-large-font-size: 42px;
}


/*global classes*/
* {
  box-sizing: border-box;
}
p {
  margin: 0;
}
.d-flex { 
  display: flex; 
  align-items: center; 
}
.low_margin {
	margin: 0;
	padding: 0 0 5px 0;
}
.justify-end {
  justify-content: flex-end;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.flex-column {
  flex-direction: column;
}
.align-center {
  align-items: center;
}
.align-end {
  align-items: flex-end;
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style-type: none;
  padding: 0;
}


body {
  padding: 0;
  margin: 0;
  font-family: 'Oswald';
  font-size: var(--medium-font-size);
  font-style: normal;
  width: 100%;
  height: 100%;
  position: fixed;
  transition-duration: .3s;
}
.yellow-background {
  background-color: var(--color-white);
  color: var(--color-gray);
}
.green-background {
  background-color: var(--color-green);
  color: var(--color-white);
}

.container {
  margin: 0 auto;
  width: calc(100vw - var(--container-padding) * 2);
}

header, footer {
  position: fixed;
  height: var(--header-footer-height);
  left: 0;
  width: 100%;
}

/*Header*/
header {
  top: 0;
  transition-duration: .3s;
}

nav {
  text-transform: uppercase;
  font-weight: 600;
  position: relative;
  letter-spacing: .2em;
}

.header-menu-element {
  margin-left: 40px;
}

.language {
  position: absolute;
  left: 0;
}

/*Burger btn*/
.burger-button {
  display: none;
  border: none;
  position: relative;
  z-index: 200;
  width: 35px;
  height: 6px;
  background: var(--color-barn);
  transition-duration: .3s;
}

.burger-button::before, .burger-button::after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  height: 6px;
  width: 100%;
  background: var(--color-barn);
  transition-duration: .3s;
}

.burger-button::before {
  top: -12px;
}

.burger-button::after {
  bottom: -12px;
}

.burger-button.white, 
.burger-button.white::before, 
.burger-button.white::after {
  background: var(--color-white);
}
/*Burger btn*/

.nav-mobile {
  display: none;
}
/*Header*/

/*Footer*/
footer {
  bottom: 0;
}

.footer-menu {
  text-transform: uppercase;
  font-weight: 400;
  position: relative;
}

.footer-menu::before {
  content: "";
  display: block;
  height: 4px;
  position: absolute;
  top: -25px;
  right: calc(-1 * var(--container-padding));
  width: calc((1.5em * 6 + 10px) * 3);
  background-color: var(--color-barn);
}

.footer-menu-element {
  margin-left: 40px;
  height: 30px;
  text-align: center;
  position: relative;
}

.footer-menu-element img {
  height: 100%;
  width: auto;
  transition-duration: .3s;
  background-repeat: no-repeat;
  background-size: contain;
}

.footer-menu-element::before {
  content: '';
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  opacity: 0;
  transition-duration: .3s;
  width: 100%;
  height: 100%;
  display: block;
}

.footer-menu.inverted .footer-menu-element img {
  opacity: 0;
}

.footer-menu.inverted .footer-menu-element::before {
  opacity: 1;
}

.bsuir::before {
  background: url("../img/bsuir_light.svg") center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.fksis::before {
  background: url("../img/miniFksis_light.svg") center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.vk::before {
  background: url("../img/vk_light.svg") center center;
  background-repeat: no-repeat;
  background-size: contain;
}

/*Footer*/

main .container {
  position: relative;
}

.nav {
  background: url("../img/NavbarImage.svg") no-repeat top center;
  background-size: contain;
  position: absolute;
  top: calc(var(--header-footer-height) / 2);
  left: 0;
  width: 40%;
  height: calc(100vh - var(--header-footer-height) / 2);
}

.nav::before {
  content: "";
  display: block;
  position: absolute;
  height: 100%;
  width: 3%;
  top: calc((100vw - var(--container-padding) * 2) * 0.4 * 1249 / 486);
  left: 50%;
  transform: translate(-50%, 0);
  background: var(--color-barn);
}

.nav-buttons {
  position: absolute;
  top: 50%;
  left: 50%;
  width: calc((100vh - var(--header-footer-height) / 2) / 2.5);
  transform: translate(-50%, 0);
}

.nav-button {
  background-color: var(--color-barn);
  color: var(--color-white);
  width: 100%;
  margin: 8px;
  height: 45px;
  border-radius: 5px;
  border: none;
  font-size: var(--max-medium-font-size);
  font-family: 'Oswald';
}

section {
  position: absolute;
  width: 60%;
  height: calc(100vh - var(--header-footer-height) * 2);
  top: var(--header-footer-height);
  right: 0;
  z-index: -1;
}

/*Section 1*/
.main_page {
  padding: 30px var(--container-padding);
  color: var(--color-gray);
  font-size: var(--max-medium-font-size);
}
.main_page img {
  max-height: 700px;
  height: 95%;
  justify-content: space-around;
  max-width: 100%;
  padding-bottom: 10px;
}
.main_page p {
  font-style: normal;
  font-weight: 300;
  font-size: 0.9em;
  letter-spacing: 0.1em;
  text-align: center;
}
/*Section 1*/

/*Section 2*/
.about_olimpiad {
  padding: calc(var(--container-padding)/2);
  color: var(--color-white);
}

.about_olimpiad-header, .about_header_table_2 {
  font-size: var(--large-font-size);
  margin-bottom: 10px;
}

.about_table_lable {
  font-size: var(--max-large-font-size);
  font-family: 'Bodoni MT';
  font-style: normal;
  font-weight: 700;
}

.about_label_text {
  font-size: var(--max-medium-font-size);
  font-weight: 200;
}
.about_olimpiad-table {
  display: inline-block;
}

.about-table_item {
  font-size: var(--max-medium-font-size);
  font-weight: 200;
  margin-top: 15px;
  position: relative;
  padding-left: calc(1em + 10px);
  text-align: start;
}
.about-table_item::before {
  display: inline-block;
  content: '';
  background: url(../img/Star.svg) center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 1em;
  height: 1em;
  top: 50%;
  transform: translateY(20%);
  margin-right: 5px;
}

.junior_label {
  color: #A6F4EC;
}
.senior_label {
  color: #1B514C;
}
/*Section 2*/

/*Section 3*/
.stages {
  padding: calc(var(--container-padding)/2);
  color: var(--color-white);
  height: calc(100vh - var(--header-footer-height) * 2.2);
  overflow-y: scroll;
  z-index: 100;
}
.stages::-webkit-scrollbar { width: 0; }
.stages_header {
  font-size: var(--large-font-size);
}
.stages-sections {
  font-size: 2.5vh;
  font-weight: 300;
}
.stages-menu-btns {
  width: 80%;
  margin-bottom: 20px;
}
.stages-menu-item {
  padding: 7px;
  border-radius: 5px;
  font-size: var(--max-medium-font-size);
  transition-duration: .5s;
}
.stages-menu-selected {
  text-decoration:underline;
  background-color: var(--color-light-blue);
}
.stages-menu-no_selected {
  text-decoration: none;
  background-color: none;
}
.stages-menu-selected::before {
  display: inline-block;
  content: '';
  background: url(../img/Star.svg) center center;
  background-size: cover;
  background-repeat: no-repeat;
  top: 50%;
  transform: translateY(20%);
  margin-right: 5px;
  padding-top: 2%;
  width: 1em;
  height: 1em;
}

/*Section 3*/

/*Section 4*/
.schedule {
  padding: calc(var(--container-padding)/2);
  color: var(--color-gray);
}
.schedule h2 {
  display: none;
}
.schedule_mobile {
  display: none;
}
.schedule_computer {
  object-fit: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  object-position: 11vw 50%;
  position: relative;
  right: calc((var(--container-padding) * -1) - 30px);
}
/*Section 4*/

/*Animations*/
.background_img_show {
  animation: background_img_show_anim 1.5s forwards;
}
.background_img_hide {
  animation: background_img_hide_anim 1.5s forwards;
}

@keyframes background_img_hide_anim {
  from {
      opacity: 1;
  }
  to {
    opacity: 0.1;
}
}

@keyframes background_img_show_anim {
  from {
    opacity: 0.1;
}
  to {
   opacity: 1;
  }
}


.HideItem {
  animation: hideItem_anim 2.5s forwards;
}
.ShowItem {
  animation: showItem_anim 2.5s forwards;
}

@keyframes hideItem_anim {
  from {
      opacity: 1;
      display: block;
  }
  50% {
    opacity: 0;
    display: none;
  } 
  to {
      opacity: 0;
      display: none;
  }
}

@keyframes showItem_anim {
  from { opacity: 0; }
  30% {
    opacity: 0;
    display: none;
  } 
  to {
    opacity: 1;
    display: block;
  }
}

.none_select_btn {
  animation: none_select_btn_anim .5s forwards;
}
.select_btn {
  animation: select_btn_anim .5s forwards;
}

@keyframes none_select_btn_anim {
  from {}
  to {
    left: 0;
    background-color: var(--color-barn);
  }
}

@keyframes select_btn_anim {
  from {
    background-color: var(--color-barn);
  }
  to {
    margin-left: 100px;
    background-color: var(--color-gray);
  }
}

.HideItem_sec3 {
  animation: hideItem_sec3_anim 1.5s forwards;
}
.ShowItem_sec3 {
  animation: showItem_sec3_anim 1.5s forwards;
}


@keyframes hideItem_sec3_anim {
  from {
      opacity: 1;
      height: 0;
      display: block;
  }
  30% {
    opacity: 0;
    display: none;
    height: 0;
  } 
  to {
    opacity: 0;
    display: none;
    height: 0;
  }
}

@keyframes showItem_sec3_anim {
  from { 
    opacity: 0;
    height: 0;
  }
  30% {
    height: 0;
    opacity: 0;
    display: none;
  } 
  to {
    opacity: 1;
    display: block;
  }
}

/*Animations*/

@media (max-width: 900px) {

  :root {
    --medium-font-size: 14px;
    --max-medium-font-size: 18px;
    --large-font-size: 28px;
    --max-large-font-size: 34px;
  }

  section {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .burger-button {
      display: block;
  }
  .nav {
    display: none;
  }

  .language {
      margin-left: 50px;
  }

  .header-menu {
    z-index: 110;
    position: fixed;
    top: 0;
    transition-duration: .3s;
    left: -100vw;
    background: var(--color-barn);
    color: var(--color-white);
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: calc(var(--header-footer-height) + 15px) 0 0 var(--container-padding);
    flex-direction: column !important;
    justify-content: flex-start !important;
    align-items: flex-start !important;
  }
  .nav-mobile {
      display: block;
  }
  .header-menu .header-menu-element {
      margin: 0 0 15px;
  }
  .mobile-wrap {
      width: 100%;
      height: var(--header-footer-height);
  }
  .header-menu.showed {
      left: 0;
  }
  .stages-menu-btns {
    width: 100%;
  }
  .stages-sections {
    text-align: start;
  }
  .schedule_computer {
    display: none;
  }
  .schedule_mobile, .schedule h2 {
    display: block;
  }
  .schedule h2 {
    font-size: var(--max-large-font-size);
  }
  .schedule_mobile {
    object-position: 50% 15vh;
    object-fit: contain;
    width: 100%;
    height: 100%;
  }

  footer {
      display: none !important;
  }
}

@media (max-width: 600px) {
  :root {
      --container-padding: 10px;

      --medium-font-size: 12px;
      --max-medium-font-size: 16px;
      --large-font-size: 22px;
      --max-large-font-size: 38px;
  }
  .schedule_mobile {
    height: 95%;
  }
}
